@charset "utf-8";

/* ##### fc nakahara 2006 result用 ##### */

/* ##### 共通初期化 ##### */

div { margin:0px; padding:0px; }
p { margin:0px; padding:0px; }
form { margin:0px; padding:0px; }

h1,h2,h3,h4,h5,h6,h7 { margin:0px; padding:0px; }

body { margin:0px; padding:0px; text-align:center; background:#ffffff; }
body,div,td,th { font-size:12px; line-height:20px; }

img{ border:0; }

ul, ol, li, dl, dt, dd {
	margin:0px;
	padding:0px;
	list-style:none;
}


a:link { color:#0033ff; text-decoration:underline; }
a:visited { color:#0033ff; text-decoration:underline; }
a:hover { color:#3399ff; text-decoration:underline; }
a:active { color:#3399ff; text-decoration:underline; }


/* ##### 共有ハック ##### */

.clearfix:after{
	content: ".";
	display: block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{
	display: inline-block;
}
/* Hides from ie-mac \*/
* html .clearfix { height:1%; }
.clearfix { display: block; }
/* End hide from ie-mac */

.clearboth { clear:both; }



/* ##### 共通レイアウト ##### */


div#wrapper {
	width:800px;
	margin:20px auto;
	text-align:left;
}

h1.resultTtl {
	background:#f2f6f8;
	padding:4px;
	text-align:center;
	font-size:18px;
	color:#307AB0;
	border:#307AB0 2px solid;
	margin-bottom:18px;
}

table.resultTable {
	background:#ccc;
}
table.resultTable th {
	background:#57b8ff;
	color:#FFF;
	font-weight:bold;
}
table.resultTable td {
	background:#f2f6f8;
	text-align:center;
	color:#222;
}
table.resultTable td.result_comment {
	text-align:left;
	padding:10px;
}


dl.resultBox {
	width:800px;
}
dl.resultBox dt {
	background:#307AB0;
	color:#FFF;
	font-weight:bold;
	border:#ccc 2px solid;
	border-bottom:none;
	padding:6px 4px;
}
dl.resultBox dt span {
	display:block;
	float:left;
	color:inherit;
	font-weight:inherit;
	font-size:14px;
}
dl.resultBox dt span.resultDate {
	width:100px;
}
dl.resultBox dt span.resultName {
	width:450px;
}
dl.resultBox dt span.resultSubTotal {
	width:100px;
}
dl.resultBox dt a {
	display:block;
	float:right;
	width:100px;
	color:#FF3;
	font-weight:bold;
	text-align:right;
}
dl.resultBox dt a:link { color:#FF3; text-decoration:underline; }
dl.resultBox dt a:visited { color:#FF3; text-decoration:underline; }
dl.resultBox dt a:hover { color:#FF0; text-decoration:underline; }
dl.resultBox dt a:active { color:#FF0; text-decoration:underline; }
dl.resultBox dd {
	display:none;
	border:#ccc 1px solid;
	border-bottom:none;
}

